<div class="card ">
    <div class="card-body m-2">
        <div class="row ">
            <div class="col-md-4 " style="text-align: center;">
                <div class="left border">
                    <div class="row m-2">
                        <div class="icons"> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img
                                src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img
                                src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                    </div>
                    <form class="m-2"> 
                        <span class="m-2">Card Number: </span>
                        <input class="m-2" placeholder="0125 6780 4567 9909"><br>
                        <span class="m-2">Cardholder's name: </span>
                        <input class="m-2" placeholder="Card Holder Name"><br>
                        <span class="m-2">Enter your Pin: </span>
                        <input class="m-2" type="number" placeholder="1234"><br>
                        <button class="btn btn-primary" type="submit" routerLink="/home">LogIn</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>